@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
 :root {
  --dark-yellow--color: rgb(158, 149, 14);
  --light-yellow-color: rgb(238, 228, 91);
  --white--color: #fff;
  --black--color: #222;
  --red-color: rgb(255, 11, 60);
  --green-clor: rgb(17, 92, 2);
 }

 /* utility class  */

 h1 {
  font-size: 2rem;
 }
 button {
  padding: .7rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  outline: none;
  border: none;
  color: var(--green-clor);
  background-color: var(--dark-yellow--color);
  font-weight: 600;
  letter-spacing: 2px;
  margin: 10px;
  cursor: pointer;
  transition: ease .5s;
}

/* App styling */

.App {
  width: 90%;
margin: 0 auto;
text-align: center;
margin-top: 2rem;
font-family: 'Poppins', sans-serif;
/* background-color: r; */
}

.Attacher__board,
.Depolyer__Board {
  display: flex;
  height: 60vh;
  width: 100%;
  background-image: url('../public/images/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.hide {
  display: none;
}
.show {
  display: flex;
  flex-direction: column;
}
/* Intro Styling */
.Intro {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: .5s ease-in;
}
.Intro__Dealer:hover,
.Intro__Attacher:hover {
  color: var(--dark-yellow--color);
  background-color: #fff;
  border: 3px dashed var(--green-clor);
}
.Intro__Btn {
  display: flex;
}
.Intro__sub {
  color: var(--red-color);
}
.Intro__span {
  color: var(--green-clor);
}
/* Board Styling */
.Board {
  border: 3px solid #fff;
  width: 50%;
}
.Board__player {
  color: var(--dark-yellow--color);
  font-weight: 500;
  letter-spacing: 2px;
  margin: 10px 0;
}

.Button {
  margin-top: 20px;
}

.Button__type:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.Button__hit {
  background-color: var(--light-yellow-color);
  color: var(--black--color);
}
.Button__stand {
  background-color: var(--red-color);
  color: var(--white--color);
}

.Button__deal {
  background-color: var(--red-color);
}

.Board__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.span__red {
  color: var(--red-color);
}
.span__white {
  color: var(--white--color);
}
.State__text{
  color: var(--black--color);
  margin: 20px 0;
}

.Card {
  height: 100px;
  overflow: hidden;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
 
}

.Card img {
  height: 100%;
  object-fit: cover;
}